body {
    background-image: url("../images/nasa-usa-at-nite.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-color: black;
}

#timer-card {
    display: none;
}

#question-card {
    display: none;
    margin: 100px 0px 0px 250px;
}
/* 
button.link {
    background: none;
    border: none;
} */

/* #question-options {
    display: none;
    color: white;
    background-color: tomato;
} */

